

.second-page {
  /* border: 1px solid black; */
  /* max-width: 1095px; */
  min-height: 100vmin;
  min-height: -webkit-fill-available;
    background-repeat: no-repeat;
  background-attachment: inherit; 
   background-position: top;
  position: relative;
  background-size: 100% 100%;
  background-image: url('./../images/Backgrounds/2ndBG.jpg');
}